#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

.PHONY: override_dh_auto_configure override_dh_auto_configure override_dh_auto_install

%:
	dh $@ --parallel

override_dh_auto_configure:
	# Not using the Debug CMAKE compilation type because of losing the
	# optimizations. By default it will go for CMAKE RelWithDebInfo.
	dh_auto_configure -- \
	    -DCMAKE_BUILD_TYPE="RelWithDebInfo" \
	    -DBUILD_SHARED_LIBS="ON" \
	    -DINSTALL_EXTRA_LIBS="ON" \
	    -DBUILD_DEMOS="OFF" \
	    -DBUILD_CPU_DEMOS="OFF" \
	    -DUSE_MULTITHREADED_BENCHMARK="ON" \
	    -DLIB_SUFFIX="/bullet_2.82"

override_dh_auto_install:
	dh_auto_install --
	# Modify the bullet pkgconfig path to put into standard path with
	# a different name
	mkdir -p debian/tmp/usr/lib/pkgconfig
	mv debian/tmp/usr/lib/bullet_2.82/pkgconfig/bullet.pc \
           debian/tmp/usr/lib/pkgconfig/bullet2.82.pc

override_dh_shlibdeps:
	LD_LIBRARY_PATH=debian/tmp/usr/lib/bullet_2.82/	dh_shlibdeps --
